body {
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: calc(4vw + 4vh + 2vmin);
    font-family: Orbitron;
    letter-spacing: 7px;
}
